<% include partials/header %>

<h1>Feeds</h1>

<!-- Give css overflow: scroll -->
<div class="all">
    <div class="item">
        <div class="title">
            <h2>Title of item</h2>
        </div>

        <div class="image">
            <img src="/" alt="Fake picture">
        </div>

        <div class="description">
            <p>Imagine some news going here.</p>
            <p>50 points</p>
        </div>
    </div>

    <div class="item">
        <div class="title">
            <h2>Title of item</h2>
        </div>

        <div class="image">
            <img src="/" alt="Fake picture">
        </div>

        <div class="description">
            <p>Imagine some news going here.</p>
            <p>50 points</p>
        </div>
    </div>
    
    <div class="item">
        <div class="title">
            <h2>Title of item</h2>
        </div>

        <div class="image">
            <img src="/" alt="Fake picture">
        </div>

        <div class="description">
            <p>Imagine some news going here.</p>
            <p>50 points</p>
        </div>
    </div>
</div>

<div id="add-form">
    <form action="/feeds" method="POST">
        <input type="text" name="title" placeholder="title">
        <!-- Using links until image upload is implemented later -->
        <input type="text" name="image" placeholder="image">
        <input type="text" name="description" placeholder="description">
        <input type="number" name="score" placeholder="score">
        <input type="date" name="date">
        <!-- <input type="submit" value="Submit" id="submit"> -->
        <button id="feed-butt" onclick="addNewItem">Submit</button>
    </form>
</div>

<% include partials/footer %>