<% include partials/header %>

<h1>Feeds</h1>

<!-- Give css overflow: scroll -->
<div class="all">
    <div class="item">
        <div class="title">
            <h2>Title of item</h2>
        </div>

        <div class="image">
            <img src="/" alt="Fake picture">
        </div>

        <div class="description">
            <p>Imagine some news going here.</p>
            <p>50 points</p>
        </div>
    </div>

    <div class="item">
        <div class="title">
            <h2>Title of item</h2>
        </div>

        <div class="image">
            <img src="/" alt="Fake picture">
        </div>

        <div class="description">
            <p>Imagine some news going here.</p>
            <p>50 points</p>
        </div>
    </div>
    
    <div class="item">
        <div class="title">
            <h2>Title of item</h2>
        </div>

        <div class="image">
            <img src="/" alt="Fake picture">
        </div>

        <div class="description">
            <p>Imagine some news going here.</p>
            <p>50 points</p>
        </div>
    </div>
</div>

<a href="/create">Create new item</a>

<% include partials/footer %>