<% include partials/header %>

<h1>Welcome to The Feed!</h1>

<form action="/" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>

<a href="/new_user">New User?</a>

<% include partials/footer %>