<% include partials/header %>

<h1 class="page-title">Welcome to The Feed!</h1>

<div class="wrapper">
    <div class="auth-box">
        <form action="/" method="POST">
            <div class="input-container">
                <i class="fa fa-user icon"></i>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
            <div class="input-container">
                <button>Submit</button>
            </div>
        </form>
    
        <div class="input container">
            <p>Don't have an account? <a href="/new_user">Sign Up Here</a></p>
        </div>
    </div>
</div>

<% include partials/footer %>