/* Mobile first */
html{
    height: 500px;
    background-color: #ccced1;
    font-size: 12pt;
    margin: 0 auto;
    box-sizing: border-box;
}

button{
    width: 100%;
    background-color: #105cce;
    color: #ffffff;
    padding: 10px;
}

a{
    text-decoration: none;
}

p{
    margin-top: 0px;
}

.page-title{
    font-size: 2em;
    text-align: center;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    max-width: 100%;
    flex-wrap: wrap;
}

.auth-box{
    padding: 10px;
    background-color: #ffffff;
    max-width: 100%;
}

.input-container{
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20px;
}

.icon{
    background: #105cce;
    color: #ffffff;
    padding: 10px;
}

.input-container input{
    width: 100%;
    padding: 10px;
}

@media all and (min-width: 1024px){
}