/* Mobile first */
html{
    height: 100%;
    background-color: #ccced1;
    font-size: 12pt;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    height: 80%;
}

button{
    width: 100%;
    background-color: #105cce;
    color: #ffffff;
    padding: 10px;
}

a{
    text-decoration: none;
}

p{
    margin-top: 0px;
}

.page-title{
    font-size: 2em;
    text-align: center;
}

.auth-box{
    padding: 10px;
    background-color: #ffffff;
    width: 50%;
    margin: 0 auto;
}

.input-container{
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20px;
}

.icon{
    background: #105cce;
    color: #ffffff;
    padding: 10px;
}

.input-container input{
    width: 100%;
    padding: 10px;
}

.feed{
    overflow: scroll;
    height: 100%;
}

#new-item-form{
    width: 60%;
    margin: 0 auto;
}

#new-item-form input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
}

#new-item-form textarea{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
}

#feed-butt{
    width: 100%;
    padding: 10px;
}

@media all and (min-width: 1024px){
    .auth-box{
    }

    #new-item-form{
        width: 40%;
    }
}